<!DOCTYPE html>
<html>
<head>
  <title>People Locator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1 class="header_title">People Locator</h1>
	</header>
	<div class="content">
		<section class="main_section">
			<%= yield %>
		</section>
		<aside class="banner">
			banner <!-- static -->
		</aside>
	</div>
	<footer>
		<div class="footer_links">
			<a href="#">О проекте</a> <!-- static -->
			<a href="#">Что нового?</a> <!-- static -->
			<a href="#">Обратная связь</a> <!-- static -->
		</div>
		<div class="copyright">&copy; People Locator <%= 
			current_year = Time.now.year
			if (current_year > 2016)
				'2016 - ' + current_year.to_s
			else
				current_year
			end
		%></div> 
	</footer>
</body>
</html>
